h1  {
    background-color: brown;
    font-family: "Georgia", serif;
}

div {
    font-family: "Times New Roman", serif;
}

input {
    font-family: "Times New Roman", serif;
}

div[id="metric-converter"] {
    font-family: "Arial", sans-serif;
}